#recently-added {
    background-color: $primaryBackgroundColor;
    margin: auto;
    max-width: 980px;

    .test-item-block {
        white-space: pre-wrap;
        margin: 10px;
        .image {
            height: 150px;
            align-self: center;
        }
        
        .details {
            color: $primaryTextColor;
            font-size: 13px;
        }
    }

    #recently-added-title {
        margin:0%;
        font-size: 20px;
        font-family: "worksans-extralight","work sans",sans-serif;
        font-weight: 200;
        color: $secondaryTextColor;
    }

    .right-arrow {
        position: absolute;
        right: 0;
        font-size: 30px;
        font-weight: bold;
    }
    .left-arrow {
        position: absolute;
        left: 0;
        font-size: 30px;
        font-weight: bold;
    }

    @media (min-width: 3000px) {
        font-size: 25px;
        max-width: 3000px;
        min-height: 30%;
        
    }
}
