// Variables
// Background Colors
$primaryBackgroundColor: white;
$secondaryBackgroundColor: rgba(211, 211, 211, 0.6);
$darkBackgroundColor: rgb(48,49,50);

// Text Colors
$primaryTextColor: #303132;
$secondaryTextColor: #242323;
$highlightTextColor: #f1ff2e;
$darkBackgroundTextColor: #d3d3d3;

// Heights
$headerHeight: 13vh;
$footerHeight: 25vh;


//Mixins
@mixin flexCenter($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}
