
$secondary: #606060;

@import 'bootstrap/scss/bootstrap.scss';
@import './_variables_&_mixins';

@import './shared/_footer';
@import "./shared/header";
@import './shared/_recently_added';

body {
    font-family: Helvetica, "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
    text-align: center;
}

h1 {
    color: $primaryTextColor;
    font-family: "worksans-extralight","work sans",sans-serif;;
}

h2, h3, h4, h5, h6 {
    color: $primaryTextColor;
    font-family: "raleway",sans-serif;
}

.App {
  font-family: sans-serif;
  text-align: center;
  position: relative;
  background-color: darkmagenta;
}

nav {
  height: 10vh;
}

.slide-forward-enter,
.slide-forward-exit {
  transition: transform 1000ms ease-out;
}

.slide-forward-enter {
  transform: translateX(100%);
}

.slide-forward-enter.slide-forward-enter-active {
  transform: translateX(0%);
}

.slide-forward-exit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateX(0%);
}

.slide-forward-exit-active {
  transform: translateX(-100%);
}

.slide-backward-enter,
.slide-backward-exit {
  transition: transform 1000ms ease-out;
}

.slide-backward-enter {
  transform: translateX(-100%);
}

.slide-backward-enter.slide-backward-enter-active {
  transform: translateX(0%);
}

.slide-backward-exit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateX(0%);
}

.slide-backward-exit-active {
  transform: translateX(100%);
}